.App{
  min-height: 100vb;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  border-radius: 10px;
  width: 50%;
  border: none;
  padding:10px;
}
.search-button{
  border-radius: 10px;
  background: #a18cd1;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}